/data_preprocessed_matlab
/data_preprocessed_python
/data_afterprocessed_python
/feature_vectors
/metadata_csv
/training_data
/genetics
/logs
functional_scheme.txt
tree.dot
tree.pdf
NMF.jpg
PCA.jpg
PCAh.png
genetic.png
logfile0410.txt
logfile0510.txt
Genetic.jpg